<li id="<%= dom_id item %>" class="page_<%= @items.current_page %> <%= item.class.name.downcase %>">
  <div class="wrapper">
    <% if item.is_a?(Picture) %>
      <%= link_to(image_tag(item.preview_url), item.direct_url, :class => "picture") %>
    <% else %>
      <%= link_to(image_tag(item.preview_url), item.url, :target => "_blank") %>
    <% end %>
    <div class="info-wrapper">
      <div class="info">
        <%= item_title(item, true) %>
        <% if item.is_a?(Directory) %>
          <%= image_tag("icons/page_white.png", :title => "Children") %> <%= item.children.length %>
        <% end %>
      </div>
    </div>
  </div>
</li>
