<li id="<%= dom_id file %>" class="page_<%= @files.current_page %> <%= file.class.name.downcase %>">
  <div class="wrapper">
    <%= link_to(image_tag(file.preview_url), file.url) %>
    <div class="info-wrapper">
      <div class="info">
        <%= file_title(file, true) %>
        <% if file.Directory? %>
          <%= image_tag("icons/page_white.png", :title => "Children") %> <%= file.files.length %>
        <% end %>
      </div>
    </div>
  </div>
</li>
