<li id="<%= dom_id file %>" class="page_<%= @files.current_page %> <%= file.class.name.downcase %>">
  <%= link_to(image_tag(file.preview_url), file.url) %>
  <div class="info-wrapper">
    <div class="info">
      <%= file_title(file, true) %>
      <% if file.Directory? %>
        <span class="directories" title="Directories"><%= number_with_delimiter(file.directories.length - 1) %></span>
        <span class="pictures" title="Pictures"><%= number_with_delimiter(file.pictures.length) %></span>
      <% end %>
    </div>
  </div>
</li>
